<div class="container content parallax-about">
    <div class="title-box-v2">
        <a href="{{ page.url }}" target="_blank" class="no-link-style"><h2>{{ page.title }}</h2></a>
        <a href="{{ page.url }}" target="_blank" class="no-link-style"><p>{{ page.description }}</p></a>
    </div>

    <div class="row">
        <div class="col-md-6">
            <a href="{{ page.url }}" target="_blank"><img style="margin-left:auto; margin-right: auto" class="img-responsive" src="{{ page.thumbnail_path }}" alt=""></a>
            <div class="clearfix margin-bottom-20"></div>
        </div>
        <div class="col-md-6">
        <h3>Comments</h3>
        <div class="profile-blog" ng-if="user">
            <form autocmplete="off">
                <div class="form-group">
                    <label for="text">Post a comment</label>
                    <input type="text" name="text" class="form-control" rows="5"></input>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn-u btn-u-green">Post</button>
                </div>
            </form>
            <hr>
        </div>
            <div class="profile-blog">
                <div class="clearfix margin-bottom-20"></div>
                <p>{{ comment.text }}</p>
                <ul class="list-inline news-v1-info">
                <li><i class="fa fa-chevron-down downvote votes-icon @if(comment.my_vote == -1)downvoted @endif" commentId="{{ comment.id }}"></i></li>
                <li>                            
                    <div class="vote-sum" commentId="{{ comment.id }}">
                    {{ comment['vote_sum'] }}
                    </div>
                </li>
                <li><i class="fa fa-chevron-up upvote votes-icon @if(comment.my_vote == 1)upvoted @endif" commentId="{{ comment.id }}"></i></li>
                <li>|</li>
                <li><i class="fa fa-user"></i> {{ comment.user.username }} </li>
                <li>|</li>
                <li><i class="fa fa-clock-o"></i> {{ comment.created_at }}</li>
            </ul>
            </div>
        </div>
    </div>
</div><!--/container-.