<div class="container content-md">
    <div class="text-center margin-bottom-50">
        <h2 class="title-v2 title-center">WIZARD-POKER</h2>
        <p class="space-lg-hor">
            Check out <a ui-sref="cards">all Hearthstone cards</a> with quick reponsive search, community posted <a ui-sref="pages"> websites and videos</a> and more
        </p>
    </div>

    <!-- Service Blcoks -->
    <div class="row service-box-v1">
        <div class="col-md-4 col-sm-6 md-margin-bottom-40">
            <div class="service-block service-block-default no-margin-bottom">
                <i class="icon-lg rounded-x icon icon-picture"></i>
                <h2 class="heading-sm"><a ui-sref="cards">Hearthstone Cards</a></h2>
                <p>Full Hearthstone card collection with quick and responsive search</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 md-margin-bottom-40">
            <div class="service-block service-block-default no-margin-bottom">
                <i class="icon-lg rounded-x icon-line icon-link"></i>
                <h2 class="heading-sm"><a ui-sref="pages">Hearthstone Websites</a></h2>
                <p>Community posted Hearthstone related websites</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="service-block service-block-default no-margin-bottom">
                <i class="icon-lg rounded-x icon-line icon-social-youtube "></i>
                <h2 class="heading-sm"><a ui-sref="pages">Hearthstone Videos</a></h2>
                <p>Community posted Hearthstone related videos</p>
            </div>
        </div>
    </div>
    <!-- End Service Blcoks -->
</div>