<div class="container content">
    <div class="row-fluid privacy">
        <div class="margin-bottom-60">
            <h1 id="tos">Terms of Service</h1>
            <br>
            <h2>Content</h2>
            <p>
                You should only post Hearthstone related content. The title has to be relevant to the content. 
            </p>
            <p>
                I reserve all rights ro remove any content from site for whatever reason. I will be removing irrelevant or self-promoting posts to bad content, <small>mostly</small>
            </p>
            <br>
            <h2>Social network login</h2>
            <h3>Twitter</h3>
            <p>
                When you log in to wizard-poker.com with your Twitter account, wizard-poker.com saves your Twitter username in order to display it when you leave a comment.
            </p>
            <br>
            <h3>Facebook</h3>
            <p>
                When you log in to wizard-poker.com with your Facebook account, wizard-poker.com saves your Facebbok name, surname and email in order to display username (name and surname) when you leave a comment. Email is saved in order to ensure uniqueness (email).
            </p>
            <br>
            <h3>Google</h3>
            <p>
                When you log in to wizard-poker.com with your Google account, wizard-poker saves your Google username and email in order to display it when you leave a comment and ensure uniqueness (email).
            </p>
            <br>
            <h2 id="privacy">Cookies</h2>
            <p>
                Website <a href="/">www.wizard-poker.com</a> uses cookies for login and Google Analytics. More on GA cookies <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">here</a>.
            </p>
        </div>
    </div><!--/row-fluid-->
</div>